{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="ftco-blocks-cover-1">
    <div class="site-section-cover overlay">
        <div class="container mt-4">
            <h2 class="h2 text-white">Contact</h2>
            <hr/>
            <div class="row">
                <div class="col">
                    <span></span>
                    <span>Email:</span>
                    <span>tolkyn-98kz@mail.ru</span>
                </div>
                <div class="col">
                    <span></span>
                    <span>FIO:</span>
                    <span>Bazilbek Tolkin Bazilbekkizi</span>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- <div class="site-section-cover overlay">
            <div class="container">
                <div class="row mt-4">
                    <div class="col-md-5">
                        <span></span>
                        <span>Email:</span>
                        <span>tolkyn-98kz@mail.ru</span>
                    </div>
                </div>
            </div>
        </div> -->
{% endblock %}



