{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="site-section-cover overlay">
            <div class="container">
                <div class="row mt-4">
                    <div class="col-md-5 ">
                        <h1 class="font-weight-bold text-teal">Мен еш уақытта еш нәрсе үйретпеймін, тек қана
                            олардың оқуы үшін жағдай жасаймын.</h1>
                        <p>Альберт Эйнштейн</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}



