{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="ftco-blocks-cover-1">
        <div class="site-section-cover overlay">
            <div class="container mt-4">
                <h2 class="h2 text-white">Видео</h2>
                <hr/>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe src="https://player.vimeo.com/video/54990931" width="480" height="320"
                                        frameborder="0" allow="autoplay; fullscreen"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe src="https://player.vimeo.com/video/7530607" width="480" height="320"
                                        frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe src="https://player.vimeo.com/video/110845548" width="480" height="320"
                                        frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}