{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="ftco-blocks-cover-1">
        <div class="site-section-cover overlay">
            <div class="container mt-4">
                <h2 class="h2 text-white">Видео</h2>
                <hr/>
                <div class="row" >
                    <div class="col-md-3 mb-2">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe width="420" height="315"
                                        src="https://www.youtube.com/embed/Ct95GppRvzY">
                                </iframe>
                            </div>
                            <span class="card-header">HTML сабақтары #1 - Кіріспе</span>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe width="420" height="315"
                                        src="https://www.youtube.com/embed/X__5wejpH8M">
                                </iframe>
                            </div>
                            <span class="card-header">Java | 1-сабақ (Қысқа нұсқасы) | NetStudy</span>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe width="420" height="315"
                                        src="https://www.youtube.com/embed/1WmBG7c7_zk">
                                </iframe>
                            </div>
                            <span class="card-header">CSS сабақтары. #1 - CSS дегеніміз не?</span>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2 mb-1">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe src="https://player.vimeo.com/video/54990931" width="480" height="320"
                                        frameborder="0" allow="autoplay; fullscreen"
                                        allowfullscreen></iframe>
                            </div>
                            <span class="card-header">CSS Performance
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2 mb-1">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe src="https://player.vimeo.com/video/7530607" width="480" height="320"
                                        frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                            <span class="card-header">CSS Frameworks
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe width="420" height="315"
                                        src="https://www.youtube.com/embed/8mK5aY5YOCc">
                                </iframe>
                            </div>
                            <span class="card-header">HTML для начинающих - #1 - Введение</span>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe width="420" height="315"
                                        src="https://www.youtube.com/embed/4jYYHaTwWvY">
                                </iframe>
                            </div>
                            <span class="card-header">Учим Html за 35 минут для начинающих</span>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe width="420" height="315"
                                        src="https://www.youtube.com/embed/4QHFhIjF2L0">
                                </iframe>
                            </div>
                            <span class="card-header">Изучаем JavaScript за 90 минут</span>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe width="420" height="315"
                                        src="https://www.youtube.com/embed/Zxpz5tRrUvU">
                                </iframe>
                            </div>
                            <span class="card-header">Уроки Java #1</span>
                        </div>
                    </div>

                    <div class="col-md-3 mb-2">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe width="420" height="315"
                                        src="https://www.youtube.com/embed/iPV5GKeHyV4">
                                </iframe>
                            </div>
                            <span class="card-header">Учим CSS за 1 час</span>
                        </div>
                    </div>

                    <div class="col-md-3 mb-2">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe width="420" height="315"
                                        src="https://www.youtube.com/embed/GoBvYPwv-g8">
                                </iframe>
                            </div>
                            <span class="card-header">Учим CSS за 40 минут</span>
                        </div>
                    </div>

                    <div class="col-md-3 mb-2">
                        <div class="card py-0">
                            <div class="card-img-top embed-responsive embed-responsive-16by9">
                                <iframe width="420" height="315"
                                        src="https://www.youtube.com/embed/Fw679JPOo0w">
                                </iframe>
                            </div>
                            <span class="card-header">Изучение CSS/CSS3</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
