{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="ftco-blocks-cover-1">
        <div class="site-section-cover overlay">
            <div class="container mt-4">
                <h2 class="h2 text-white">Тест жұмыстары</h2>
                <hr/>
                <div class="row" style="overflow:auto;">
                    <div class="col-md-4 mb-1">
                        <div class="card" >
                            <div class="card-img-top d-flex justify-content-center">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Тест #1</h5>
                                <a href="/quiz/page-1" class="btn btn-primary">Өту</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-1">
                        <div class="card" >
                            <div class="card-img-top d-flex justify-content-center">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Тест #2</h5>
                                <a href="/quiz/page-2" class="btn btn-primary">Өту</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-1">
                        <div class="card" >
                            <div class="card-img-top d-flex justify-content-center">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Тест #3</h5>
                                <a href="/quiz/page-3" class="btn btn-primary">Өту</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-1">
                        <div class="card" >
                            <div class="card-img-top d-flex justify-content-center">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Тест #4 (english)</h5>
                                <a href="/quiz/page-4" class="btn btn-primary">Өту</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-1">
                        <div class="card" >
                            <div class="card-img-top d-flex justify-content-center">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Тест #5 (english)</h5>
                                <a href="/quiz/page-5" class="btn btn-primary">Өту</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-1">
                        <div class="card" >
                            <div class="card-img-top d-flex justify-content-center">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Тест #6 (english)</h5>
                                <a href="/quiz/page-6" class="btn btn-primary">Өту</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
