{% extends "base.html" %}
{% load static %}
{% block content %}
    <link href={% static 'css/quiz/app.4080f30b9223caf8a4cfd8934c445974.css' %} rel=stylesheet>
    {#    <h2 class="h2 text-center py-4 text-black">Тест #1</h2>#}
    {#    <hr/>#}
    <div class="ftco-blocks-cover-1">
        <div class="site-section-cover">
            <div class="container mt-4">
                <h2 class="h2 text-black">Тест #2</h2>
                <hr/>
                <div id=app></div>
            </div>
        </div>
    </div>

    <script>
      const quiz = {
        user: "Толқын",
        questions: [
         {
            text: "Ақпараттық процестерді зерттейтін ғылым",
            responses: [
               { text: "Информатика", correct: true },
               { text: "Физика" },
               { text: "Математика" },
               { text: "Геометри" }
            ]
         },
         {
            text: "Ақпараттық процестерді жүзеге асыратын негізгі құрал",
            responses: [
               { text: "Компьютер", correct: true },
               { text: "Принтер" },
               { text: "Монитор" },
               { text: "Сканер" }
            ]
         },
         {
            text: "«Ақпарат» латынның .... деген ұғымдарды білдіреді.",
            responses: [
               { text: "информатика" },
               { text: "аналық тақша, жүйелік блок "},
               { text: "түсіндіру, баяндау, мәлімет ", correct: true},
               { text: "мақсат, міндет  " }
            ]
         },
         {
            text: "Қазіргі кезде ақпарат түсінігін айқындаудың кең тараған қанша теориясы бар?",
            responses: [
               { text: "3", correct: true },
               { text: "2" },
               { text: "6"},
               { text: "5" }
            ]
         },
         {
                text: "Кибернетиканың атасы Ноберт Винер ақпаратқа мынандай анықтама берді:",
            responses: [
               { text: "Ақпарат, бұл – айналадағы дүние туралы анықталмағанды анықтайтын мәліметтер " },
               { text: "Ақпарат, бұл –сигнал, хабарлама арқылы берілген білім. " },
               { text: "орындалатын іс - әрекеттің немесе есептің нәтижеге жету жолын реттелген тізбектер түрінде орындау"},
               { text: "Ақпарат, бұл-сыртқы дүниеден біздің оған бейімделуіміздің, сезімдеріміздің бейімделуінің процесінде алынған мазмұнды көрсету.", correct: true }
            ]
         },
         {
            text: "Ақпарат ұсыну қандай негізгі тәсілдермен туындайды? ",
            responses: [
               { text: "символдық, мәтіндік, графикалық" },
               { text: "техникалық, математикалық, бейнелік" },
               { text: "аналық тақша, жүйелік блок", correct: true },
               { text: "мақсат, міндет." }
            ]
         },
         {
            text: "Информатикаға анықтама бер?",
            responses: [
               { text: "информатика – ол адамның өз іс-әрекетінде  ақпарат жиымдарын пайдалануы" },
               { text: "информатика – ақпарат алу, жіберу, өңдеу, сақтау ұсыну процестерін зерттейтін ғылым.", correct: true },
               { text: "информатика – мақсат, міндет " },
               { text: "информатика – ақпарат алу, жіберу, өңдеу, сақтау, ұсыну процестерін зерттейтін математикалық ғылым. " }
            ]
         },
         {
            text: "Санау жүйесі деп нені айтады? ",
            responses: [
               { text: "Сандарды атау және жазу ережелері мен оқылуы " },
               { text: "сандарды атау және жазу ережелері мен әдістерінің жиынтығы", correct: true },
               { text: "сандарды атау және жазу ережелері мен әдістерінің жиынтығын зерттейтін ғылым. " },
               { text: "санның әрбір цифрының алатын орнында" }
            ]
         },
         {
            text:
               "Позициялық санау жүйесінің позициялық емес санау жүйесінен айырмашылығы неде?",
            responses: [
               {
                  text: "санның цифрының жазылуында "
               },
               { text: "санның әрбір цифрының алатын орнында " },
               { text: "санның әрбір цифрының мәні оның алатын орнында", correct: true },
               { text: "Сандарды атау және жазу ережелері мен оқылуы" }
            ]
         },
         {
            text: "Позициялық санау жүйесінің негізі деп нені айтады?",
            responses: [
               { text: "онда қолданылатын цифрлар атын " },
               { text: "онда қолданылатын цифрлар санын", correct: true },
               { text: "онда қолданылатын цифрлар жүйесін" },
               { text: "онда қолданылатын цифрлардың орнын " }
            ]
         }
      ]
      };
      window.quiz = quiz;
    </script>
    <script type=text/javascript src={% static 'js/quiz/manifest.03eae04ea95c4c77d324.js' %}></script>
    <script type=text/javascript src={% static 'js/quiz/vendor.4ba6443f5e817f59cd36.js' %}></script>
    <script type=text/javascript src={% static 'js/quiz/app.8821189ebc73af9019c9.js' %}></script>
{% endblock %}