{% extends "base.html" %}
{% load static %}
{% block content %}
    <link href={% static 'css/quiz/app.4080f30b9223caf8a4cfd8934c445974.css' %} rel=stylesheet>
    {#    <h2 class="h2 text-center py-4 text-black">Тест #1</h2>#}
    {#    <hr/>#}
    <div class="ftco-blocks-cover-1">
        <div class="site-section-cover">
            <div class="container mt-4">
                <h2 class="h2 text-black">Тест #3</h2>
                <hr/>
                <div id=app></div>
            </div>
        </div>
    </div>

    <script>
      const quiz = {
        user: "Толқын",
        questions: [
          {
            text: "Санды екілік жүйеден ондық санау жүйесіне қалай ауыстырады?",
            responses: [
              {text: "екілік санды коэффициент цифрлармен екінің дәрежелерінің көбейтінділерінің көбейтіндісі түрінде жазып, осы қосындыны табу керек. "},
              {text: "екілік санды коэффициент цифрлармен екінің дәрежелерінің көбейтінділерінің айырымы түрінде жазып, осы қосындыны табу керек. "},
              {
                text: "екілік санды коэффициент цифрлармен екінің дәрежелерінің  көбейтінділерінің қосындысы түрінде жазып, осы қосындыны табу керек. ",
                correct: true
              },
              {text: "екілік санды коэффициент цифрлармен екінің дәрежелерінің көбейтінділерінің бөлінді түрінде жазып, осы қосындыны табу керек. "}
            ]
          },
          {
            text: " Оналтылық санау жүйесінде санды жазу үшін қандай цифрлар қолданылады? ",
            responses: [
              {text: " 0,1,2,3,4,5,6,7,8,9, A,B,C,D,E,F ", correct: true},
              {text: " 0,1,2,3,4,5,6,7,9, A,B,C,D,E,F"},
              {text: " 0,2,3,4,5,6,7,8,9,  A,B,C,D,E,F"},
              {text: "1,2,3,4,5,6,7,8,9, A,B,C,D,E,F"}
            ]
          },
          {
            text: "Бүтін ондық сандарды екілік санау жүйесіне ауыстыру үшін қандай ереже қолданамыз?",
            responses: [
              {text: "санды бөлінді сол саның қалдығына болғанша бөле беру ережесі "},
              {text: "санды бөлінді 1 болғанша бөле беру ережесі "},
              {text: "санды бөлінді екіден кіші болғанша екіге бөле беру ережесі ", correct: true}
            ]
          },
          {
            text: "Пікір дегеніміз не? ",
            responses: [
              {text: "жалған немесе ақиқат болуы мүмкін қандай да бір пайымдау ", correct: true},
              {text: "жалған немесе ақиқат болуы мүмкін қандай да бір жоба "},
              {text: "жалған немесе ақиқат болуы мүмкін қандай да бір мақал "},
              {text: "жалған немесе ақиқат болуы мүмкін қандай да бір ғылым "}
            ]
          },
          {
            text: "Қандай пікірлер жалпы деп аталады?",
            responses: [
              {text: "Ақпарат, бұл – айналадағы дүние туралы анықталмағанды анықтайтын мәліметтер "},
              {text: "Ақпарат, бұл –сигнал, хабарлама арқылы берілген білім. "},
              {text: "орындалатын іс - әрекеттің немесе есептің нәтижеге жету жолын реттелген тізбектер түрінде орындау"},
              {
                text: "Ақпарат, бұл-сыртқы дүниеден біздің оған бейімделуіміздің, сезімдеріміздің бейімделуінің процесінде алынған мазмұнды көрсету.",
                correct: true
              }
            ]
          },
          {
            text: "Ақпарат ұсыну қандай негізгі тәсілдермен туындайды? ",
            responses: [
              {text: "обьектілер немесе құбылыстар тобының қасиеттерін сипаттайтын пікірлер "},
              {text: "обьектілер немесе құбылыстар тобының қасиеттерін көрсететін пікірлер "},
              {text: "обьектілер немесе құбылыстар тобының қасиеттерін сипаттайтын пікірлер ", correct: true},
              {text: "мақсат, міндет."}
            ]
          },
          {
            text: "Логикалық көбейту деп нені айтады?",
            responses: [
              {text: "немесе жалғаулығының көмегімен қарапайым екі айтылымның бір құрамдасқа бірігуі логикалық көбейту  дизьюнкция деп аталады. "},
              {
                text: "Және жалғаулығының көмегімен қарапайым екі айтылымның бір құрамдасқа бірігуі  логикалық көбейту коньюнкция деп аталады.",
                correct: true
              },
              {text: "Және жалғаулығының көмегімен қарапайым екі айтылымның бір құрамдасқа бірікпеуі логикалық көбейту коньюнкция деп аталады. "}
            ]
          },
          {
            text: "Дизьюнкция дегеніміз не? ",
            responses: [
              {text: "Және жалғаулығының көмегімен қарапайым екі айтылымның бір құрамдасқа бірігуі логикалық көбейту дизьюнкция деп аталады. "},
              {
                text: "Немесе жалғаулығының көмегімен қарапайым екі айтылымның бір құрамдасқа бірігуі логикалық қосу дизьюнкция деп аталады.",
                correct: true
              },
              {text: "немесе жалғаулығының көмегімен қарапайым екі айтылымның бір құрамдасқа бірікпеуі логикалық көбейту изьюнкция деп аталады.  "}
            ]
          },
          {
            text: "Логикалық терістеу деп нені айтады?",
            responses: [
              {text: "Қарапайым А айтылымына жоқ сөзін қосу логикалық терістеу деп аталады. "},
              {text: "Қарапайым А айтылымына басқа сөзін қосу логикалық терістеу деп аталады. "},
              {text: "Қарапайым А айтылымына емес шылауын қосу логикалық терістеу деп  аталады. ", correct: true}
            ]
          },
          {
            text: "Позициялық санау жүйесінің негізі деп нені айтады?",
            responses: [
              {text: "онда қолданылатын цифрлар атын "},
              {text: "онда қолданылатын цифрлар санын", correct: true},
              {text: "онда қолданылатын цифрлар жүйесін"},
              {text: "онда қолданылатын цифрлардың орнын "}
            ]
          }
        ]
      };
      window.quiz = quiz;
    </script>
    <script type=text/javascript src={% static 'js/quiz/manifest.03eae04ea95c4c77d324.js' %}></script>
    <script type=text/javascript src={% static 'js/quiz/vendor.4ba6443f5e817f59cd36.js' %}></script>
    <script type=text/javascript src={% static 'js/quiz/app.8821189ebc73af9019c9.js' %}></script>
{% endblock %}